extend layout
block content
  div.col-sm-12.gdadb-content
    div.row.title-area
      div.col-sm-11
        div.title
          h1
            | #{play.name} (#{play.performanceseason} #{play.performanceyear})
        div.subtitle
          | | 
          for genre in play.genres
            a(href="/genre?q=#{genre}") #{genre} 
            | | 
          | #{play.season} #{play.year}
      div.col-sm-1.editctrl
        if auth
          button.btn.btn-default(type="button", aria-label="Edit",onclick="window.location='/update/#{play._id}'")
            span.glyphicon.glyphicon-pencil(aria-hidden="true")
    div.row
      div.col-sm-4.centered
        img.play-poster(src="#{play.imageURL}", alt="#{play.name}")
      div.col-sm-8.centered
        div
          // Carousel
          // ==================================================
          div.myCarousel#myCarousel.carousel.slide(data-ride='carousel')
            .carousel-inner
              each pic, index in playpics
                if index == 0
                  .item.active
                    span.helper
                    img.img-responsive.center-block(src='#{pic.url}', alt='#{pic.title}')
                    .container
                      .carousel-caption
                        p
                          | #{pic.title} 
                else
                  .item
                    span.helper
                    img.img-responsive.center-block(src='#{pic.url}', alt='#{pic.title}')
                    .container
                      .carousel-caption
                        p
                          | #{pic.title} 
            a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
              span.glyphicon.glyphicon-chevron-left
            a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
              span.glyphicon.glyphicon-chevron-right
          // /.carousel
    div.row.summary-area
      div.padded
        h3 Storyline
        p.summary
          | #{play.description}
        p.summary
          span.bold.gray Keyword(s):
          |  #{play.keywords}
        p
          span.bold.gray Producer(s):
          for person in prods
            |  #{person.contribname}
        p
          span.bold.gray Director(s):
          for person in dirs
            |  #{person.contribname}
    div.row.awards-area
    div.row.cast-crew-area
      h2.padded Cast
      for person in cast
        div.row.padded.cast-line
          div.col-sm-2.headshot
            img.portrait(src="../assets/images/blank_portrait.jpg", alt="HEAD")
          div.col-sm-4.castname
            a(href="/person/#{person.contribname}")
              | #{person.contribname}
          div.col-sm-1.spacer
            | ...
          div.col-sm-5.rolename
            | #{person.contribrole} 
    div.row
      h2.padded Crew
      for person in crew
        div.row.padded.cast-line
          div.col-sm-2.headshot
            img.portrait(src="../assets/images/blank_portrait.jpg", alt="HEAD")
          div.col-sm-4.castname
            a(href="/person/#{person.contribname}")
              | #{person.contribname}
          div.col-sm-1.spacer
            | ...
          div.col-sm-5.rolename
            | #{person.contribrole} 
