extend layout
block content
  div.col-sm-12.gdadb-content
    div.row.title-area
      div.col-sm-11
        div.title
          h1
            | #{play._id}
        div.subtitle
          | #{play.genres} |
          | #{play.season} #{play.year}
      div.col-sm-1.editctrl
        if auth
          span.menulink(onclick="window.location='/update/#{play._id}'") Edit
    div.row
      div.col-sm-4.centered
        img.play-poster(src="../assets/images/#{play.poster_url}", alt="#{play._id}")
      div.col-sm-8.centered
        img.main-photo(src="../assets/images/woo-hof.jpg", alt="Main photo")
    div.row.summary-area
      div.padded
        p.summary
          | #{play.summary}
        p.summary
          span.bold.gray Keyword(s):
          | #{play.keywords}
        p
          span.bold.gray Producer(s):
          for person in producers
            | #{person.contribname}
        p
          span.bold.gray Director(s):
          for person in directors
            | #{person.contribname}
    div.row.awards-area
      Awards Section - GDA HoF ?
    div.row.cast-crew-area
      h2.padded Cast
      for person in cast
        div.row.padded.cast-line
          div.col-sm-2.headshot
            img.portrait(src="../assets/images/blank_portrait.jpg", alt="HEAD")
          div.col-sm-4.castname
            a(href="/person/#{person.contribname}")
              | #{person.contribname}
          div.col-sm-1.spacer
            | ...
          div.col-sm-5.rolename
            | #{person.contribrole} 
    div.row
      h2.padded Crew
      for person in crew
        div.row.padded.cast-line
          div.col-sm-2.headshot
            img.portrait(src="../assets/images/blank_portrait.jpg", alt="HEAD")
          div.col-sm-4.castname
            a(href="/person/#{person.contribname}")
              | #{person.contribname}
          div.col-sm-1.spacer
            | ...
          div.col-sm-5.rolename
            | #{person.contribrole} 
