extend layout
block content
  div.col-sm-12.gdadb-content
    div.row
      div.col-sm-4
        img.headshot-lg(src="#{person.picURL}")
      div.col-sm-8
        h3 #{person.name}
        span.subtitle #{person.school} #{person.graduationyear}
        div
          | If there are, we all be dead. Well, I'm not saying I'd like to build a summer home here, but the trees are actually quite lovely. And YOU: friendless, brainless, helpless, hopeless! Do you want me to send you back to where you were? Unemployed, in Greenland? No, there is too much. Let me sum up. Buttercup is marry' Humperdinck in a little less than half an hour. So all we have to do is get in, break up the wedding, steal the princess, make our escape... after I kill Count Rugen. You seem a decent fellow... I hate to kill you. Naturally... but I find that Thibault cancels out Capa Ferro. Don't you?
    div.row
      div.col-sm-12
        h3 Performances
    for perf in performances
      div.row
        span.playname.left
          a(href="/details/#{perf.playID}") #{perf.playID}
        span.rolename.left
          | #{perf.contribrole}
